<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
:root {
    --v-space: 2em;
    --v-space-headings: 0.5em;
    --text-color: #131313;
    --primary-color: #607d8b;
}

* {
	box-sizing: border-box;
}

body {
    padding: 0;
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    max-width: 100%;
}

h1,
h2,
h3 {
    margin-bottom: var(--v-space-headings);
}

h1 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: bold;
}

h2,
h3 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 1em;
}

h2 {
    padding-top: calc(var(--v-space)*0.5);
}

a {
    text-decoration: underline;
    color: var(--primary-color);
}

header,
section {
    margin-bottom: var(--v-space);
    padding-bottom: var(--v-space);
    float: left;
    width: 100%;
    position: relative;
    border-bottom: 1px #ccc solid;
}

p {
    margin-bottom: var(--v-space);
}

ul {
    margin-bottom: var(--v-space);
    list-style: disc;
    padding-left: 20px;
}

img {
    display: block;
    max-width: 100%;
    margin-bottom: var(--v-space);
}

code {
    font-family: monospace;
    font-weight: bold;
}


body pre.prettyprint {
    margin: 0 0 var(--v-space);
    padding: var(--v-space);
}

.sidebar {
    position: fixed;
    padding-top: 2rem;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: rgba(96, 125, 139, .1);
}
.sidebar h1 {
	padding: 0 30px;
	position: relative;
	z-index: 1;
}

.sidebar-list {
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    padding-top: 110px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.sidebar-list:nth-of-type(2) {
	right: -260px;
	background-color: #d2dbde;
	transition: .3s transform ease-in;
}
.sidebar-list:nth-of-type(2):hover {
	/* background-color: #eff2f3; */
	transform: translateX(-260px);
}

main {
    padding-right: 370px;
    padding-left: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
</style>

<body>
<div class="sidebar">
    <h1>Contents:</h1>
    <div class="sidebar-list">
	    <ul>
	        <li><a href="#2">2. Vue instance</a></li>
	        <li><a href="#3">3. Data and methods</a></li>
	        <li><a href="#4">4. Data binding</a></li>
	        <li><a href="#5">5. Events</a></li>
	        <li><a href="#6">6. Events Modifiers</a></li>
	        <li><a href="#7">7. Keyboard Events</a></li>
	        <li><a href="#8">8. Two-Way Data Binding</a></li>
	        <li><a href="#9">9. Computed Properties</a></li>
	        <li><a href="#10">10. Dynamic CSS Classes</a></li>
	        <li><a href="#11">11. Conditionals</a></li>
	        <li><a href="#12">12. Looping with v-for</a></li>
	        <li><a href="#13">13. Simple Punchbag Game</a></li>
	        <li><a href="#14">14. Multiple Vue Instances</a></li>
	        <li><a href="#15">15. Intro to Components</a></li>
	        <li><a href="#16">16. Refs</a></li>
	        <li><a href="#17">17. The Vue CLI</a></li>
	        <li><a href="#18">18. Vue Files &amp; The Root Component</a></li>
	        <li><a href="#19">19. Nesting Components</a></li>
	        <li><a href="#20">20. Component CSS (scoped)</a></li>
	        <li><a href="#21">21. Nesting Components Examples</a></li>
	        <li><a href="#22">22. Props</a></li>
	    </ul>
    </div>
	<div class="sidebar-list">
	    <ul>
	    	<li><a href="#23">23. </a></li>
	        <li><a href="#24">24. </a></li>
	        <li><a href="#25">25. </a></li>
	        <li><a href="#26">26. </a></li>
	        <li><a href="#27">27. </a></li>
	        <li><a href="#28">28. </a></li>
	        <li><a href="#29">29. </a></li>
	        <li><a href="#30">30. </a></li>
	        <li><a href="#31">31. </a></li>
	        <li><a href="#32">32. </a></li>
	        <li><a href="#33">33. </a></li>
	        <li><a href="#33">33. </a></li>
	        <li><a href="#34">34. </a></li>
	        <li><a href="#35">35. </a></li>
	        <li><a href="#36">36. </a></li>
	        <li><a href="#37">37. </a></li>
	        <li><a href="#38">38. </a></li>
	        <li><a href="#39">39. </a></li>
	        <li><a href="#40">40. </a></li>
	        <li><a href="#41">41. </a></li>
	        <li><a href="#42">42. </a></li>
	        <li><a href="#43">43. </a></li>
	        <li><a href="#44">44. </a></li>
	    </ul>
    </div>
</div>
<main>
    <header>
        <h1>Vue Notes</h1>
        <p>Referencing the Net Ninja tutorials found <a href="https://www.youtube.com/watch?v=5LYrN_cAJoA&list=PL4cUxeGkcC9gQcYgjhBoeQH7wiAyZNrYa&index=1">here</a></p>
    </header>
    <section>
        <h2 id="2">2. Vue instance:</h2>
        <ul>
            <li>1 instance for entire app, or multiple instances for multiple parts of the app</li>
            <li>Takes an object as a parameter</li>
        </ul>
<pre class="prettyprint">
&lt;div id="vue-app"&gt;
    &lt;h1&gt;Hey, {{ name }}&lt;/h1&gt;
&lt;/div&gt;
</pre>
<pre class="prettyprint">
new Vue({
    el: '#vue-app',
    data: {
        name: 'Shaun'
    }
});
</pre>
    </section>
    <section>
        <h2 id="3">3. Data and methods:</h2>
        <ul>
            <li>Properties set in data are the initial values</li>
            <li>Vue proxies data objects to top of the instance, so they can all be accessed by doing <code>this.xxxx</code> rather than <code>this.data.xxxx</code></li>
            <li>Template calls for methods done in the same way as JS <code>likeThis()</code></li>
            <li>Only evaluated when explicitly called</li>
            <li>Used to perform actions on properties</li>
        </ul>
        <pre class="prettyprint">
&lt;div id="vue-app"&gt;
    &lt;h1&gt;Hey, {{ name }}&lt;/h1&gt;
&lt;/div&gt;
</pre>
<pre class="prettyprint">
new Vue({
    el: '#vue-app',
    data: {
        name: 'Shaun'
    }
});
</pre>
    </section>
    <section>
        <h2 id="4">4. Data binding:</h2>
        <ul>
            <li>Use <code>v-bind:attr="data"</code> to bind data properties etc. (can just use a colon) <code>v-html="data"</code> to render html</li>
        </ul>
<pre class="prettyprint">
&lt;div id="vue-app"&gt;
    &lt;h1&gt;Data Binding&lt;/h1&gt;
    &lt;p&gt;&lt;a v-bind:href="website"&gt;The Net Ninja Website&lt;/a&gt;&lt;/p&gt;
    &lt;p v-html="websiteTag"&gt;&lt;/p&gt;
    &lt;p&gt;&lt;input type="text" v-bind:value="name" /&gt;&lt;/p&gt;
&lt;/div&gt;
</pre>
<pre class="prettyprint">
new Vue({
	el: '#vue-app',
	data: {
	    name: 'Shaun',
	    job: 'Ninja',
	    website: 'http://www.thenetninja.co.uk',
	    websiteTag: '<a href="http://www.thenetninja.co.uk">The Net Ninja Website</a>'
	},
	methods: {
	    greet: function(time){
	        return 'Good ' + time + ', ' + this.name;
	    }
	}
});
</pre>
    </section>
    <section>
        <h2 id="5">5. Events:</h2>
        <ul>
            <li><code>v-on:event</code> is used as an event listener</li>
            <li>Code can be run within the template or called as external function (method)</li>
            <li>Parenthesis aren't needed when calling a function i.e. <code>thisFunctionCall()</code> would instead be <code>thisFunctionCall</code></li>
            <li>paramaters can be passed in the template in the normal way likeThis(val, 2)</li>
            <li>Shorthand for <code>v-on</code> is <code>@</code></li>
        </ul>
        <pre class="prettyprint">
&lt;div id="canvas" v-on:mousemove="updateXY"&gt;{{ x }} , {{ y }}&lt;/div&gt;
</pre>
        <pre class="prettyprint">
new Vue({
    data: {
        x: 0,
        y: 0
    },
    methods: {
        updateXY: function(event){
            this.x = event.offsetX;
            this.y = event.offsetY;
        }
    }
});
</pre>
    </section>
    <section>
        <h2 id="6">6. Events Modifiers:</h2>
		<ul>
			<li>An example of a simple event modifier would be adding <code>.once</code> to the end of a click event. Which would look like this - <code>v-on:click.once</code></li>
			<li><code>.prevent</code> is another example, which works the similar to preventDefault in jQuery</li>
		</ul>
		<p>Ref: <a href="https://vuejs.org/v2/guide/events.html">https://vuejs.org/v2/guide/events.html</a></p>
	</section>
	<section>
		<h2 id="7">7. Keyboard Events</h2>
		<ul>
			<li>JS keyboard events can be chained like so - <code>v-on:keyup.enter.alt="runFunc"</code> or <code>v-on:tab.enter.alt="runFunc"</code></li>
		</ul>
	</section>
	<section>
        <h2 id="8">8. Two-Way Data Binding</h2>
        <ul>
            <li><code>v-model="name"</code> can be equal to any variable or property</li>
            <li>The data goes back and forth from the view to the model then back to the model</li>
        </ul>
    </section>
    <section>
        <h2 id="9">9. Computed Properties</h2>
        <ul>
            <li>Computed values are cached and therefore efficient</li>
            <li>Used for manipulating properties (such as larage data sets)</li>
            <li>To run a computed property remove the parenthesis</li>
        </ul>
        <p>Explanation on the difference between Methods and Computed properties here - <a href="https://stackoverflow.com/questions/44350862/method-vs-computed-in-vue">https://stackoverflow.com/questions/44350862/method-vs-computed-in-vue</a></p>
    </section>
    <section>
        <h2 id="10">10. Dynamic CSS Classes</h2>
        <ul>
            <li>Classes can be set based on the value of a boolean</li>
        </ul>
<pre class="prettyprint">
&lt;div v-bind:class="{red: true, blue: true}"&gt;
    This would have the class of red and blue
&lt;/div&gt;
</pre>
<pre class="prettyprint">
&lt;div v-on:click="available = !available" v-bind:class="{available: available}"&gt;
    Clicking this will toggle the avialable class
&lt;/div&gt;
</pre>
        <p>Below is an example of computed properties returned in an element. They will wait for the data to change (using an event listener in this example) and then update.</p>
<pre class="prettyprint">
&lt;button v-on:click="nearby = !nearby"&gt;Toggle nearby&lt;/button&gt;
&lt;button v-on:click="available = !available"&gt;Toggle available&lt;/button&gt;
&lt;div v-bind:class="compClasses"&gt;
    &lt;span&gt;Ryu&lt;/span&gt;
&lt;/div&gt;
</pre>
<pre class="prettyprint">
new Vue({
    el: '#vue-app',
    data: {
        available: false,
        nearby: false
    },
    methods: {

    },
    computed: {
        compClasses: function(){
            return {
                available: this.available,
                nearby: this.nearby,
            }
        }
    }
});
</pre>
    </section>
    <section>
        <h2 id="11">11. Conditionals</h2>
        <p>In the code below <code>v-if</code> won't show if false. <code>v-else-if</code> will only run when <code>v-if</code> is false</p>
<pre class="prettyprint">
&lt;p v-if="error"&gt;&lt;/p&gt;
&lt;p v-else--if="success"&gt;&lt;/p&gt;
</pre>
        <p><code>v-show</code> Applies the same principal as <code>v-if</code> except it adds a display none, rather than removing the element completely</p>
    </section>
    <section>
        <h2 id="12">12. Looping with v-for</h2>
        <ul>
            <li>Vue will know not to render the <code>&lt;template&gt;</code> tag, only the contents within it</li>
        </ul>
        <p>Below is an array and an object will be looped through using examples further down.</p>
<pre class="prettyprint">
new Vue({
    el: '#vue-app',
    data: {
        characters: ['Mario', 'Luigi', 'Yoshi', 'Bowser'],
        ninjas: [
            { name: 'Ryu', age: 25 },
            { name: 'Yoshi', age: 35 },
            { name: 'Ken', age: 55 }
        ]
    }
});
</pre>
<p>This will display all characters in a list.</p>
<pre class="prettyprint">
&lt;ul&gt;
    &lt;li v-for="character in characters"&gt;{{ character }}&lt;/li&gt;
&lt;/ul&gt;
</pre>
<p>This will display all ninjas with their respective index value.</p>
<pre class="prettyprint">
&lt;ul&gt;
    &lt;li v-for="(ninja, index) in ninjas"&gt;{{ index }} . {{ ninja.name }} - {{ ninja.age }}&lt;/li&gt;
&lt;/ul&gt;
</pre>
<p>This will output all key pair vlaues in the ninja object, regardless of the contents.</p>
<pre class="prettyprint">
&lt;template v-for="ninja in ninjas"&gt;
    &lt;div v-for="(val, key) in ninja"&gt;
        &lt;p&gt;{{key}} - {{ val }}&lt;/p&gt;
    &lt;/div&gt;
    &lt;hr /&gt;
&lt;/template&gt;
</pre>

    </section>
    <section>
        <h2 id="13">13. Simple Punchbag Game</h2>
        <p>This is a simple game that has been created using examples of everything already covered.</p>
        <p>Interesting usage of <code>v-bind:style</code> to dynamically update the width of the progress bar</p>
        <pre class="prettyprint">
&lt;div id="vue-app"&gt;
    &lt;!-- bag image --&gt;
    &lt;div id="bag" v-bind:class="{ burst: ended }"&gt;&lt;/div&gt;
    &lt;!-- bag health bar --&gt;
    &lt;div id="bag-health"&gt;
        &lt;div v-bind:style="{ width: health + '%' }"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- game control buttons --&gt;
    &lt;div id="controls"&gt;
        &lt;button v-on:click="punch" v-show="!ended"&gt;Punch&lt;/button&gt;
        &lt;button v-on:click="restart"&gt;Restart&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        <pre class="prettyprint">
new Vue({
    el: '#vue-app',
    data: {
        health: 100,
        ended: false
    },
    methods: {
        punch: function(){
            this.health -= 10;
            if ( this.health <= 0 ){
                this.ended = true;
            }
        },
        restart: function(){
            this.health = 100;
            this.ended = false;
        }
    },
    computed: {

    }
});
        </pre>
    </section>
    <section>
        <h2 id="14">14. Multiple Vue Instances</h2>
        <ul>
            <li>You could use 2 instances if you used them as two independent widgets on your application. I.e. So Vue isn't controlling the whole app.﻿</li>
            <li>Work the same as if you're working with one instance, they just need to be stored in a variable if you want to access them independantly (see examples below)</li>
            <li>properties can be maniupulated from outside instances i.e. if you were to do <code>instanceName.dataProp = "Changed from the outside"</code> - This would take priority over what is defined in both instances</li>
        </ul>
        <p>Vue can communicate between the 2 instances. In the function <code>changeTitle</code> (below), the line of code <code>one.title = 'Title Changed';</code> will update the title of instance one from instance two</p>
        <pre class="prettyprint">
&lt;div id="vue-app-one"&gt;
    &lt;h2&gt;{{ title }}&lt;/h2&gt;
    &lt;p&gt;{{ greet }}&lt;/p&gt;
&lt;/div&gt;
&lt;div id="vue-app-two"&gt;
    &lt;h2&gt;{{ title }}&lt;/h2&gt;
    &lt;p&gt;{{ greet }}&lt;/p&gt;
    &lt;button v-on:click="changeTitle"&gt;Change App One Title&lt;/button&gt;
&lt;/div&gt;
        </pre>
        <pre class="prettyprint">
var one = new Vue({
    el: '#vue-app-one',
    data: {
      title: 'Vue App One'
    },
    computed: {
      greet: function(){
        return 'Hello, from app one :)';
      }
    }
});

var two = new Vue({
    el: '#vue-app-two',
    data: {
      title: 'Vue App Two'
    },
    computed: {
      greet: function(){
        return 'Yo dudes, this is app 2 speaking to ya';
      }
    },
    methods: {
      changeTitle: function(){
        one.title = 'Title Changed';
      }
    }
});

two.title = 'Changed from outside';
        </pre>

    </section>
    <section>
        <h2 id="15">15. Intro to Components</h2>
        <ul>
            <li>Components allow us to create re-usable templates and functionality snippets within different sections of our website.</li>
            <li>Work very similar to Vue instances</li>
            <li>Components are output by using the component name in tag format <code>&lt;componentName&gt;like this&lt;/componentName&gt;</code></li>
            <li>Data can be passed through, but it must be a function not a direct object (Example below). This is so that when the fuincton is called a fresh copy of the data is used i.e. all data objects aren't shared</li>
        </ul>
        <pre class="prettyprint">
&lt;div id="vue-app-one"&gt;
    &lt;h1&gt;Vue App One&lt;/h1&gt;
    &lt;greeting&gt;&lt;/greeting&gt;
&lt;/div&gt;
&lt;div id="vue-app-two"&gt;
    &lt;h1&gt;Vue App Two&lt;/h1&gt;
    &lt;greeting&gt;&lt;/greeting&gt;
&lt;/div&gt;
        </pre>
        <pre class="prettyprint">
Vue.component('greeting', {
    template: '&lt;p&gt;Hey there, I am {{ name }}. &lt;button v-on:click=""&gt;Change name&lt;/button&gt;&lt;/p&gt;',
    data: function(){
        return {
            name: 'Yoshi'
        }
    },
    methods: {
        changedName: function() {
            this.name = 'Mario';
        }
    }
});

new Vue({
    el: '#vue-app-one'
});
        </pre>
    </section>
    <section>
        <h2 id="16">16. Refs</h2>
        <ul>
		    <li>We can use refs to reach into the DOM and access information such as text input value's, inner HTML and more</li>
		    <li>A <code>ref</code> attribute is added to an element to make it accesible</li>
        </ul>
        <p>In the example below, when the submit button is hit, it ill run the readRefs function, return the <code>value</code> from the object created by the <code>input</code> ref(erence), and update the <code>output</code>.</p>
<pre class="prettyprint">
&lt;div id="vue-app-one"&gt;
	&lt;input type="text" ref="input" /&gt;
    &lt;button v-on:click="readRefs"&gt;Submit&lt;/button&gt;
    &lt;p&gt;{{ output }}&lt;/p&gt;
&lt;/div&gt;
</pre>
<pre class="prettyprint">
new Vue({
    el: '#vue-app-one',
    data: {
        output: 'Your favourite food'
    },
    methods: {
        readRefs: function(){
            console.log(this.$refs);
            this.output = this.$refs.input.value;
        }
    }
});
</pre>
    </section>
    <section>
        <h2 id="17">17. The Vue CLI</h2>
        <p>A dev environment workflow that uses webpack.</p>
        <ul>
        	<li>Uses ES6 features</li>
        	<li>Compiles and minifies JS in to 1 files</li>
        	<li>Uses single file templates</li>
        	<li>Compiles everything on our machine, not in browser</li>
        	<li>Hot reloading - dynamically inject HTML without page reload</li>
        </ul>
        <p><a href="https://github.com/vuejs/vue-cli">Set-up and installation instructions</a></p>
    </section>
    <section>
        <h2 id="18">18. Vue Files &amp; The Root Component</h2>
        <p>Inside the <code>new Vue</code> instance in main.js we render the app using <code>render:h => h(App)</code> (ES6 arrow function). This takes the App.vue file, looks for the property/ID assigned to <code>el</code>,  and renders it to our root component, at the very top of out application.</p>
        <ul>
        	<li>A Vue file is just an extension of a component</li>
        	<li>Vue files contain template, script, and style tags</li>
        	<li>Data still needs to be ran as a function, but in ES6 <code>data function()</code> is the same as <code>data()</code></li>
        	<li>In the template tags we must have a single element (e.g. div or section) to wrap around all children elements</li>
        </ul>
        <p>Below is an example of App.vue:</p>
<pre class="prettyprint">
&lt;template&gt;
    &lt;div&gt;
        &lt;h1&gt;{{ title }}&lt;/h1&gt;
        &lt;p&gt;{{ greeting() }}&lt;/p&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
    data () {
        return {
          title: 'Your first Vue file, wooo!'
        }
    },
    methods: {
        greeting: function(){
            return 'heeey cowboy'
        }
    }
}
&lt;/script&gt;

&lt;style&gt;
&lt;/style&gt;
</pre>
<p>This is what main.js would look like:</p>
<pre class="prettyprint">
import Vue from 'vue'
import App from './App.vue'

new Vue({
  el: '#app',
  render: h => h(App)
})
</pre>
    </section>
    <section>
        <h2 id="19">19. Nesting Components</h2>
        <p>For a large scale app, our component structure might look something like this:</p>
        <img style="width: 800px" src="vue-component-tree.jpg" alt="Vue Component Tree">
        <ul>
        	<li>Components must be registered globally or locally</li>
        </ul>
        <p>Globally registered would look like this:</p>
<pre class="prettyprint">
import Ninjas from './Ninjas.vue'
Vue.component('ninjas', Ninjas);
</pre>
        <p?>We can then register it in our Vue file by creating a HTML tag matching the component name. So in this case the element would be called <code>&lt;ninjas&gt;&lt;/ninjas&gt;</code>.</p>
        <p>To nest a component locally, you would import the same way as previously, but also register a component. It would look like this:</p>
<pre class="prettyprint">
import Ninjas from './Ninjas.vue';
export default {
    components: {
        'ninjas': Ninjas
    },
    data () {
        return {
          title: 'Ninja App'
        }
    }
}
</pre>
    </section>
    <section>
        <h2 id="20">20. Component CSS (scoped)</h2>
        <p>Components can be styled independently of each other, using scoped styles</p>
        <ul>
        	<li>By adding the word <code>scoped</code> to the style tag, the styles wilkl only apply to the current template</li>
        </ul>
    </section>
    <section>
        <h2 id="21">21. Nesting Components Examples</h2>
        <ul>
            <li>New components would ideally be kept in a new folder e.g. 'src/components'</li>
        	<li>If creating a header call it app-header, not header as this already exists as a HTML element</li>
        </ul>
    </section>
    <section>
        <h2 id="22">22. Props</h2>
        <p>A way to pass data from one component to another (parent to child)</p>
        <p>If you wanted to display the same set of data on 5 pages, you would declare this data in a component such as your root component and then pass the data down to its children using props</p>
        <img src="props.jpg" alt="">
        <p>This is how we would receieve the data with <code>props</code>:</p>
<pre class="prettyprint">
export default {
    props: ['ninjas']
}
</pre>
        <p>This is how we would pass the data down to the child component (inside App.vue):</p>
<pre class="prettyprint">
&lt;app-ninjas v-bind:ninjas="ninjas"&gt;&lt;/app-ninjas&gt;
</pre>
    <p><code>v-bind</code> makes it dynamic, without this Vue would see this is a string</p>
<p>Props can then be accessed inside methods, as if they were declared in the same component:</p>
<pre class="prettyprint">
methods: {
    test.function(){
        this.ninjas
    }
}
</pre>
<p>Props can also be validated. Becuase the prop in this exmaple is an array, we can check for it by doing the following:</p>
<pre class="prettyprint">
export default {
    props: {
        ninjas: {
            type: array,
            required: true
        }
    }
}
</pre>
    </section>
    <section>
        <h2 id="23">23. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="24">24. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="25">25. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="26">26. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="27">27. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="28">28. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="29">29. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="30">30. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="31">31. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="32">32. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="33">33. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
         <h2 id="34">34. </h2>
         <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="35">35. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="36">36. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="37">37. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="38">38. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="39">39. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="40">40. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="41">41. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="42">42. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="43">43. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
    <section>
        <h2 id="44">44. </h2>
        <p>xxxxxxxxx</p>
        <ul>
        	<li>xxxxxxxxxxx</li>
        </ul>
    </section>
</main>
</body>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=desert"></script> 